data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/.gitkeep
models/*
!models/README.md
outputs/*
!outputs/.gitkeep
tmp/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
report_app/
.idea/
.vscode/
.DS_Store
*.log
